<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components page</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/comps.css">
</head>
<body>
<header>
    <h1>Bobby Production App - Components Overview</h1>
    <nav>
        <button class="active">COMPS</button>
        <button>
            <a href="/">DATA</a>
        </button>
    </nav>
</header>
<main>
    <section class="column">
        <h2>Warehouse</h2>
    </section>
    <section class="column">
        <h2>AGV</h2>
    </section>
    <section class="column">
        <h2>Assembly Station</h2>
    </section>
</main>
<!-- JS -->
<script src="/js/comps.js" defer></script>
</body>
</html>