<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Data page</title>
        <!-- CSS -->
        <link th:href="@{/css/index.css}" rel="stylesheet"></link>
        <!-- JS -->
        <script th:src="@{/js/main.js}" type="text/javascript" defer></script>
    </head>
    <body>
    <main>
        <header>
            <h1>Bobby Production App - Data & Production Control</h1>
        </header>
        <section class="column">
            <div>
                <h2>Assets:</h2>
                {
                    <div id="assetContainer"></div>
                }
            </div>

            <div>
                <h2>Production Queue:</h2>
                {
                <div id="queueContainer"></div>
                }
            </div>

            <div>
                <h2>Finished Products:</h2>
                {
                <div id="finishedProductsContainer"></div>
                }
            </div>
        </section>
    </main>
    </body>
</html>