<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index Page</title>
        <!-- CSS -->
        <link th:href="@{/js/css/main.css}" rel="stylesheet"></link>
        <!-- JS -->
        <script th:src="@{/js/main.js}" type="text/javascript" defer></script>
    </head>
    <body>
        <h1>Welcome to Index Page!</h1>
        <a href="/components">Go to components page</a>
        <button th:id="actionButton">Start production</button>
        <!-- Add your content here -->
    </body>
</html>
